{% extends "base.html" %} 
 
{% block title %} HOME {% endblock %}

{% block content%} 

<h2>See all cupcakes!</h2>

<ul id="cupcakes-list">
</ul>

<h2>Add new cupcake</h2>
<form id="newcupcakeform">

    <label for="form-flavor">Flavor: </label>
    <input name="flavor" id="form-flavor">
</br>
    <label for="form-size">Size: </label>
    <input name="size" id="form-size">
</br>
    <label for="form-rating">Rating: </label>
    <input name="rating" id="form-rating">
</br>
    <label for="form-image">Image URL: </label>
    <input name="image" id="form-image">
</br>
</br>
        <button id="submitnewcupcake"> Add! </button>
</form>
  
{% endblock %}